/*
  HIDESHARE CSS
*/
.hideshare-wrap {
  text-align: center;

  /*position: relative;*/
}
.hideshare-wrap, .hideshare-list {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.hideshare-wrap li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 10px 5px 0;
}
.hideshare-wrap span {
  display: none;
}

.share {
  width: 4rem;
  margin-left: 11rem;
  font-family: sans-serif;
  background: #fafafa;
  color: #4E4E4E;
  border-radius: 5px;
  border: 1px solid lightgrey;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.share:hover {
  background: #ffffff;
}


.hideshare-list.shown{
  display: flex;
  align-items: center;
  /*border: 2px solid red;*/
  color: #15CAFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-left: 8.5rem;
  padding: 0;

}

.hideshare-list a {
  color: #15CAFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.hideshare-list a:hover {
  color: #ffffff;

}
