head, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.header {
  /*border: 2px solid red;*/
  background-color: #FF8915;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 13rem;
}

.word-logo {
  width: 8rem;
  height: 5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.search {
  /*border: 2px solid blue;*/
  display: flex;
  justify-content: center;
}

.searchRequest {
  color: #383838;
}

.pageReq {
  background-color: #FAFAFA;
  margin-right: 1rem;
  border-radius: 5px;
  width: 12rem;
  height: 3.5rem;
  border: none;
  font-size: 1.3rem;
}

.loadReq {
  background-color: #15CAFF;
  color: #383838;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 3.5rem;
}

.middle-section-mobile {
  /*border: 2px solid blue;*/
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  margin-top: 3rem;
}

.listen-likeit {
  /*border: 2px solid red;*/
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.list-item {
  line-height: 3.5rem;
  font-size: 28px;
  color: #383838;
  font-family: sans-serif;
}

.footer {
  /*border: 2px solid red;*/
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  background-color: #FF8915;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.github-logo {
  line-height: 1rem;
  width: 38px;
  height: 40px;
  cursor: pointer;
}

.fork-us {
  color: white;
  font-size: 12px;
}
